@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 150rem;
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    padding: 0 2rem;
    position: relative;
    background-color: #181C1F;
}

h1 {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.2rem;
    font-family: "Playfair", serif;
    font-weight: bold;
}

#logo_header {
    width: 18rem;
}

#icono_menu_header {
    width: 4rem;
}

#icono_cerrarMenu_header {
    width: 3rem;
    display: none;
}

nav {
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    justify-content: center;
    padding: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#menu {
    display: flex;
    flex-direction: column;
}

#menu li {
    list-style: none;
    text-align: center;
}

#menu li a {
    display: inline-flex;
    padding: 1rem;
    color: #181C1F;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

nav.mostrar {
  opacity: 1;
  visibility: visible;
}

#icono_cerrarMenu_header.mostrar {
  display: block;
}

#icono_menu_header.ocultar {
  display: none;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 2rem;
}

#img_principal_hero {
    width: 100%;
    max-width: 70rem;
}

#texto_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#texto_hero_principal {
    font-family: "lato", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: #0000008C;

    
}

#texto_hero_secundario {
    font-family: "lato", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: #0000008C;
}


@media (min-width: 576px) { /* Teléfonos grandes */ }
@media (min-width: 768px) { /* Tablets */ 

    header {
        padding: 0 4rem;
    }

    .icono_menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    #menu {
        flex-direction: row;
        gap: 2rem;
    }

    nav {
        opacity: 1;
        visibility: visible;
        background-color: #181C1F;
        width: auto;
        position: static;
        box-shadow: none;
    }

    #menu li a {
        padding: 0.5rem;
        transition: color 0.3s;
        color: #FFFFFF;
    }

    #menu li a:hover {
        color: #00BCD4;
    }

    

}

@media (min-width: 992px) { /* Laptops */ 
   #hero {
        flex-direction: row;
        gap: 5rem;
    }

    
}

@media (min-width: 1200px) { /* Escritorios */ 
    

   
}
@media (min-width: 1400px) { /* Escritorios grandes */ }
